@import "../../app.scss";

.hero {
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .wrapper {
    flex: 1;
    padding: 200px;
    height: 100%;

    @include mobile {
      padding: 5px;
      background-color: rgba(220, 220, 220, 0.87);
    }
    .imageContainerBg {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;
      .imgBg {
        @include mobile {
          height: 100%;
          width: 100%;
        }
        img {
          width: 100%;
          position: relative;
          opacity: 0.9;
          box-shadow: 0 4px 8px 0 rgba(138, 133, 133, 0.31),
            0 6px 20px 0 rgba(221, 219, 219, 0.99);
            @include mobile {
              height: 50%;
              width: 100%;
              background-color: aqua;
              object-fit: cover;
            }
        }
     
      }
      .textContainer {
        flex: 1;
        color: white;
        height: 100%;
        width: 50%;
        display: flex;
        // justify-content: center;
        position: absolute;
        z-index: 1;
        flex-direction: column;
        gap: 40px;
        padding: 70px;
        @include mobile {
          height: 100%;
          width: 100%;
          align-items: center;
          text-align: center;
          padding: 0;
        }

        h2 {
          padding-top: 30px;
          font-size: 35px;
          color: #ffffffc0;
          font-weight: 600;
          letter-spacing: 10px;
          @include mobile {
            font-size: 20px;
            letter-spacing: 3px;
          }
        }

        h1 {
          font-size: 70px;
          color: #ffffff;
          font-weight: 600;

          @include mobile {
            font-size: 30px;
            font-weight: 500;
          }
        }

        .buttons {
          @include mobile {
            display:flex ;
            flex:1;
            align-items: center;
            justify-content: center;
            height: 30px;
            flex-direction: column;
            gap: 20px;
          }
          button {
            padding: 10px;
            width: 180px;
            border: 2px solid rgba(185, 173, 173, 0.547);
            border-radius: 10px;
            background-color: transparent;
            color: rgb(185, 173, 173);
            margin-right: 20px;
            cursor: pointer;
            font-weight: 300;
            font-size: 14px;
            @include mobile {
              background-color: rgba(255, 255, 255, 0.211);
            }
          }
        }
        .scrollImg {
          position: relative;
          width: 50px;
          opacity: 1;
        }
      }
    }
  }
}
