@import "../../app.scss";

.hero {
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .wrapper {
    flex: 1;
    height: 100%;
    width: 100%;

    .containerBg {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .heroImg {
        display: flex;
        align-items: end;
        justify-content: start;
        position: relative;
        background-color: rgb(14, 13, 13);
        height: 100%;
        // width: 80%;

        @include tablet {
          width: 100%;
          height: 100%;
        }
        img {
          width: 40%;
          opacity: 0.9;
          object-fit: cover;

          @include tablet {
            width: 100%;
            height: 25%;
            box-shadow: none;
            object-fit: cover;
          }
        }
        .img2 {
          display: flex;
          width: 100%;
          align-self: start;
          justify-content: end;

          @include tablet {
            padding-top: 0px;
          }

          img {
            width: 30%;
            height: 40%;
            opacity: 0.9;
            object-fit: cover;

            @include tablet {
              width: 80%;
              box-shadow: none;
              object-fit: contain;
              box-shadow: none;
            }

            @include mobile {
              width: 100%;
            }
          }
        }
      }

      .textContainer {
        color: white;
        width: 40%;
        height: 50%;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        @include desktop {
          height: unset;
        }

        @include tablet {
          width: 60%;
          height: unset;
        }

        @include mobile {
          width: 80%;
        }

        h1 {
          font-size: 60px;
          color: #b3aba3;
          font-family: "Ysabeau", sans-serif;
          font-weight: 300;

          @include desktop {
            font-size: 50px;
          }

          @include tablet {
            font-size: 50px;
          }

          @include mobile {
            font-size: 30px;
          }
        }

        h2 {
          font-size: 20px;
          color: #f8ede298;
          font-family: "Ysabeau", sans-serif;
          font-weight: 200;
          @include desktop {
            font-size: 18px;
          }
          @include tablet {
            font-size: 18px;
          }

          @include mobile {
            font-size: 15px;
          }
        }

        .buttons {
          width: 100%;
          display: flex;
          margin-top: 20px;

          button {
            height: 40px;
            width: 180px;
            border: none;
            background-color: rgba(197, 183, 165, 0.87);
            color: rgba(255, 255, 255, 0.938);
            margin-right: 20px;
            cursor: pointer;
            font-weight: 300;
            font-size: 14px;

            &:hover {
              scale: 107%;
            }

            @include mobile {
              font-size: 10px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
