@import "../../app.scss";

.about {
  position: relative;
  z-index: 1;
  display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  h1 {
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: 600;
    color: #000000de;
    padding: 50px;

    @include desktop {
      font-size: 30px;
      padding-top: 10px;
    }

    @include tablet {
      font-size: 60px;
      padding: 20px;
    }

    @include mobile {
      font-size: 24px;
      padding: 20px;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      h2 {
        color: #000000db;
        font-size: 24px;
        font-weight: 500;

        @include desktop {
          font-size: 20px;
        }

        @include tablet {
          font-size: 22px;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      h3 {
        color: #000000db;
        font-size: 20px;
        font-weight: 300;

        @include desktop {
          font-size: 18px;
        }

        @include tablet {
          font-size: 20px;
        }

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .wrapper {
      display: flex;
      padding: 50px;
      justify-content: center;
      flex-direction: column;
      gap: 50px;

      @include desktop {
        gap: 0px;
        padding: 10px;
      }

      @include tablet {
        padding: 10px;
      }

      @include mobile {
        padding: 10px;
      }

      .profile {
        display: flex;
        flex-direction: column;
        gap: 3px;

        @include mobile {
          gap: 0px;
          padding: 10px;
        }

        h3 {
          // padding-bottom: 10px;
          color: #070707b9;
          font-size: 18px;

          @include desktop {
            font-size: 16px;
          }

          @include mobile {
            font-size: 12px;
          }
        }

        h4 {
          color: #070707b9;
          font-size: 16px;
          font-weight: 500;
          // text-align: left;

          @include desktop {
            font-size: 14px;
            text-align: left;
          }

          @include mobile {
            font-size: 12px;
            text-align: center;
          }
        }
        .contactEmail {
          margin-left: 5px;
          color: #000000;
          &:hover {
            background-color: rgba(248, 243, 243, 0.841);
          }
        }

        .cursor_ {
          margin-left: 3px;
          animation: cursorAnimation 0.5s forwards infinite;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px;

   

        button {
          background-color: #f6f5f2;
          color: #070707b9;
          border: none;
          border-radius: 10px;
          width: 160px;
          height: 40px;
          cursor: pointer;
          box-sizing: border-box;
          box-shadow: 0 2px 2px 0 rgba(217, 216, 216, 0.737);

          @include mobile {
            width: 130px;
            border-radius: 6px;
            height: 30px;
          }

          &:hover {
            background-color: #f6f5f259;
            font-weight: 500;
            scale: 105%;
          }
        }
      }
    }
  }
  .titleContainer {
    @include desktop {
      margin-top: 0px;
    }

    @include tablet {
      margin-top: 10px;
    }
    @include mobile {
      margin-top: 0px;
    }

    h2 {
      color: rgb(150, 140, 140);
      align-self: flex-start;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 22px;

      @include desktop {
        font-size: 20px;
      }

      @include mobile {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }
  }

  .buttomContainer {
    flex: 1;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 85%;
      display: block;
    }

    .itemContainer {
      flex:1;
      display: flex;
      padding: 20px;
      gap: 20px;
      perspective: 1000px;
      overflow: hidden !important;

      @include mobile {
        overflow-x: scroll !important;
        scroll-behavior: smooth;
      }

      .item {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        // width: 200px;
        box-shadow: 0 4px 8px 0 rgba(163, 163, 163, 0.2),
          5px 6px 20px 0 rgba(107, 103, 103, 0.248);
        transition: transform 0.8s;
        transform-style: preserve-3d;

        &:hover {
          background-color: #e4e1e114;
          transform: rotateY(180deg) translateY(-15px);
          cursor: pointer;

          img {
            opacity: 0.1;
          }

          h4 {
            display: none;
          }

          a {
            display: flex;
            height: inherit;
            align-items: center;
            position: absolute;
            z-index: 2;
            font-size: 18px;
            font-weight: 500;
            color: rgb(110, 107, 107);
            transform: rotateY(180deg);
          }
        }

        h4 {
          color: rgb(150, 140, 140);
          font-weight: 500;
          margin-bottom: 15px;
        }

        a {
          display: none;
        }

        img {
          width: 180px;
          height: 110px;
          object-fit: cover;
        }
      }
    }
  }
}

@keyframes cursorAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
