@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;


@include tablet {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 0;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 0;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include tablet {
      flex: 1;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    @include mobile {
      flex: 1;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }
    h1 {
      letter-spacing: 2px;
      font-size: 70px;
      font-weight: 600;
      color: #000000de;

      @include tablet {
        font-size: 60px;
      }

      @include mobile {
        font-size: 36px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;

      @include tablet {
        padding: 0px;
      }

      @include mobile {
        padding: 0;
      }

      h2 {
        font-size:20px;
        font-weight: 300;
        color: #000000ce;

        @include mobile {
          font-size: 16px;
        }
      }

      .social {
        padding-top: 10px;
        display: flex;
        gap: 10px;
        cursor: pointer;

        @include tablet {
          align-self: center;
        }

        @include mobile {
          align-self: center;
          padding-top: 0px;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .formContainer {
    flex: 1;
    // position: relative;

    @include tablet {
      flex: 2;
      width: 100%;
      padding: 50px;
    }

    @include mobile {
      flex: 2;
      width: 100%;
      padding: 50px;
    }

    .phoneSvg {
      position: absolute;
      stroke: rgba(199, 179, 179, 0.705);
      padding: 10px;
      margin: auto;
      z-index: -1;
      // height: 100%;
      // width: 100%;
      // flex:1;
      // display: flex;
      // align-self: center;
      // justify-self: center;

      svg {
        @include mobile {
          width: 200px;
          height: 200px;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 10px;
        background-color: transparent;
        border: 1px solid rgba(185, 173, 173, 0.742);
        color: rgb(185, 173, 173);
        border-radius: 5px;
      }

      button {
        background-color: #f6f5f2;
        color: #070707b9;
        border:none;
        border-radius: 20px;
        cursor: pointer;
        height: 35px;
        box-sizing: border-box;

        &:hover{
            background-color: #f6f5f259;
            border:2px solid #f6f5f2;
        }
      }
    }
  }
}
