.navbar {
  height: 80px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    span {
      font-family: "Baskervville", serif;
      color: #000000ce;
      font-weight: 400;
      letter-spacing: 4px;
      flex: 1;
      font-weight: 600;
    }

    .social {
      display: flex;
      gap: 15px;
      cursor: pointer;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
