@import "../../app.scss";

.navbar {
  height: 80px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      padding: 40px;
    }

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-family: "Baskervville", serif;
      color: #000000ce;
      font-weight: 400;
      letter-spacing: 4px;
      flex: 1;
      font-weight: 600;

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }

    }

    .social {
      display: flex;
      gap: 15px;
      cursor: pointer;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
