html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  overflow-x: hidden;
  overflow-y: hidden;
  @media (max-width: 765px) {
    @content;
  }
}

@mixin tablet {
  overflow-x: hidden;
  overflow-y: hidden;
  @media ( max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
